
* {
  box-sizing: border-box;
  font-size: 16px;
}

[data-ember-action] {
  cursor: pointer;
}

li {
  cursor: pointer;
}

body {
  font-family: 'Amatic SC', cursive;
}

.image-cover {
  background: url('https://s3.amazonaws.com/wedding-site-images/seeley.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.index-title hr {
  width: 400px;
  margin-bottom: 0px;
  margin-top: 15px;
  border: 0;
  height: 2px;
  background: #000;
  box-shadow: 0px -2px 0px #fff;
}

.index-title {
  color: #FFF;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.index-title h1 {
  font-size: 80px;
  text-shadow: 2px 2px 2px #000;
  margin: 0px;
}

.index-title .size-large {
  font-size: 150px;
}

/*.cover-container {
  margin-right: 10px;
  margin-left: auto;
}*/

/*.inner {
  padding-top: 30px;
  text-align: right;
  color: #d3d3d3;
}*/

/*.inner a {
  color: #79886A;
}

.inner a:hover {
  text-decoration: none;
  color: #d3d3d3;
}*/

/*@media (min-width: 768px) {
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}*/

.btn-group-vertical {
  width: 100%;
}

.btn-group-vertical button {
  height: 75px;
}

.btn-group-vertical button:hover {
  background-color: #d3d3d3;
}


/*logistics*/

.logistics {
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 400px;
  background-image: url('https://s3.amazonaws.com/wedding-site-images/paxson-lodge.JPG');
  /*margin-bottom: 92px;*/
  vertical-align: bottom;
  padding: 70px;
}

.logistics span {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 10%;
}

.logistics-text .camp {
  font-size: 90px;
  font-weight: 500;
  text-shadow: 2px 2px 2px #000;
}

.logistics-text {
  text-align: center;
  vertical-align: bottom;
}

.log-background {
  background-color: #3d3d3d
}

.logistics-sub-menu {
  background-color: #fff;
}

.logistics-sub-menu > .container > .row ul {
  text-align: center;
  background-color: #fff;
  margin-left: 30px;
  margin-bottom: 0px;
}

.logistics-sub-menu > .container > .row ul li {
  background-color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 15px 10px;
  border: 0px;
  border-radius: 0px;
  color: #e0e0e0;
  width: 350px;
  position: relative;
}

.logistics-sub-menu > .container > .row ul li.active:after {
  content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 10px solid transparent;
	border-top-color: #fff;
  top: 100%;
  left: 50%;
  z-index: 1;
  color: #e0e0e0;
}

/*.logistics-sub-menu > .container > .row ul li.active:hover:after {
  content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 10px solid transparent;
	border-top-color: #7E7E7E;
  top: 100%;
  left: 50%;
}*/


.logistics-sub-menu > .container > .row ul li:hover {
  border: 0px;
  border-radius: 0px;
  color: #7e7e7e;
}
.logistics-sub-menu > .container > .row ul li.active {
  color: #7e7e7e;
}

.log-intro p {
  font-family: 'Josefin Slab', serif;
}

.accomodations {
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  background-image: url('https://s3.amazonaws.com/wedding-site-images/cabin.jpg');
  vertical-align: bottom;
}

.accomodations-box {
  width: 100%;
  background-color: #79886A;
  padding: 20px;
  padding-top: 5px;
}

 .accomodations-text p {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 90px;
  font-size: 20px;
  color: #fff;
  font-family: 'Josefin Slab', serif;
}

.accomodations-info p {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 17px;
  color: #000;
  font-family: 'Josefin Slab', serif;
}

.accomodations-info h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 30px;
}

.accomodations-info li {
  padding-top: 10px;
  padding-right: 10px;
  font-size: 17px;
  color: #000;
  font-family: 'Josefin Slab', serif;
}

.accomodations-info ul {
  list-style-type: none;
}

.accomodations-info .container {
  padding-left: 120px;
  margin: 0px !important;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #CCC;
}

.accomodations-info{
  background-color: #CCC;
  margin: 0px;
}

.accomodations-info li{
  cursor: auto;
}

.accomodations-info .container .acc-links {
  text-align: center;
  margin-bottom: 50px;
}

.accomodations-info .container .acc-lead {
  text-align: right;
}

.activities{
  background-color: #8281a1;
  color: #fff;
  padding-left: 80px;
}

.activities .container-fluid {
  padding-left: 80px;
  margin-top: 0px;
  padding: 35px 0;
}

.activities img {
  padding: 20px
}

.activities ul {
  list-style-type: none;
  color: #fff;

}

.activities p {
  font-size: 17px;
  font-family: 'Josefin Slab', serif;
  color: #fff;
}

.activities li {
  font-size: 17px;
  font-family: 'Josefin Slab', serif;
  padding: 7px 0;
  color: #fff;

}

.activities h3{
  font-size: 30px;
  padding-top: 15px;
  color: #fff;

}

.log-sub-intro {
  /*background-position: right;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 50%;
  background-image: url('https://s3.amazonaws.com/wedding-site-images/lake.jpg');
  vertical-align: center;
  padding: 70px;*/
  /*margin-right: 90px;*/
  /*background-color: #34657f;*/
}

.log-intro-text{
  padding: 20px;
  background-color: #34657f;
  width: 100%;
  height: auto;
  /*position: relative;*/
  color: #fff;
  padding-left: 90px;

}

.log-intro-text h2 i.mdi-explore {
  margin-right: 10px;
  /*color: #696969;*/
  font-size: 40px;
  vertical-align: middle;
}

.log-intro-text p {
  margin-left: 50px;
}

.accomodations-info h3 i {
  margin-right: 10px;
  color: #fff;
  font-size: 40px;
  vertical-align: middle;
}

.travel-info h3 i {
  margin-right: 10px;
  color: #FFF;
  font-size: 40px;
  vertical-align: middle;
}
.travel .container-fluid {
  background-color: #368E96;
  color: #fff;
}

.accomodations-info p {
  margin-left: 50px;
}

.travel-info p {
  margin-left: 30px;
  margin-right: 30px;
}

.accomodations-info ul {
  margin-left: 20px;
}

.activities-block {
  margin-left: 10px;
}

.travel-block {
  padding: 30px 20px;
  padding-left: 80px;

}

.travel-text p {
  font-family: 'Josefin Slab', serif;
  font-size: 15px;
}

/* ================== logistics ====================== */

/* =================== about ======================== */

.about {
  background-position: center;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  background-image: url('https://s3.amazonaws.com/wedding-site-images/engaged.jpg');
  vertical-align: bottom;
  padding: 20px;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.about-box {
  margin: 30px 90px;
}

.about-text p {
  font-family: 'Josefin Slab', serif;
}

.about-row {
  border: 1px solid #CCC;
  height: 100%;
  margin-left: 50px;
  margin-right: -20px;
  margin-top: 30px;
}

.about-row .col-xs-4 {
  padding: 0px;
}
.about-row .col-xs-8 {
  padding: 50px;
}

.about-cover-text {
  font-family: 'Josefin Slab', serif;
  font-size: 16px;
}

.about-button {
  margin: 30px 120px;
  padding: 10px 30px;
  font-size: 20px;
  background-color:rgba(95, 160, 129, 0.5);
  border: 0px;
  border-radius: 0px;
}
.about-button .glyphicon {
  padding-right: 10px;
  font-size: 30px;
}
.about-button:focus {
  background-color:#5fa081;
}
.about-button:hover {
  animation-name: homeCycle;
  animation-duration:1s;
  animation-direction:alternate;
  animation-iteration-count:infinite;

  -webkit-animation-name: homeCycle;
  -webkit-animation-duration:1s;
  -webkit-animation-direction:alternate;
  -webkit-animation-iteration-count:infinite; }

  @keyframes homeCycle
  {
  0% { background-color:rgba(95, 160, 129, 0.5);}
  100% {background-color:#5fa081;}
  }

  @-webkit-keyframes homeCycle
  {
  0% { background-color:rgba(95, 160, 129, 0.5);}
  100% {background-color:#5fa081;}
}

/* ======================= about ====================== */

/* ===================== registry ===================== */

.registry {
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 400px;
  background-image: url('https://s3.amazonaws.com/wedding-site-images/morrocan-plates.jpg');
}

.registry:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom,transparent,#FFF);
  opacity: 1;
}

.registry-box {
  width: 100%;
  background-color: #79886A;
  position: absolute;
  padding: 10px;
  padding-top: 5px;
}

.registry-text p {
  margin-bottom: 0px;
  font-size: 20px;
  color: #fff;
  font-family: 'Josefin Slab', serif;
}

.registry-text .camp {
 font-size: 40px;
 font-weight: 400;
}

.registry-text {
  font-size: 40px;
  font-weight: 400;
  color: #FFF;
  margin-left: 90px;
  margin-top: 20px;
}

.registry-box .registry-lead {
  font-size: 30px;
  font-weight: 400;
  color: #FFF;
  margin-top: 20px;
}

.registry-button {
  position: relative;
  font-size: 20px;
  background-color:#194c65;
  border: 0px;
  border-radius: 0px;
}

.registry-button.btn{
  left: 0;
  margin: 0 40% 0 40%;
  padding: 10px 100px;
  position: absolute;
}

.registry-button .glyphicon {
  padding-right: 10px;
  font-size: 30px;
}

.registry-button:focus {
  background-color:#194c65;
}

.registry-button:hover {
  animation-name: homeCycle;
  animation-duration:1s;
  animation-direction:alternate;
  animation-iteration-count:infinite;

  -webkit-animation-name: homeCycle;
  -webkit-animation-duration:1s;
  -webkit-animation-direction:alternate;
  -webkit-animation-iteration-count:infinite;
}

  @keyframes homeCycle
  {
  0% { background-color:rgba(51, 102, 153, 0.7);}
  100% {background-color:#194c65;}
  }

  @-webkit-keyframes homeCycle
  {
  0% { background-color:rgba(51, 102, 153, 0.7);}
  100% {background-color:#194c65;}
}

/* =============== registry ================= */

/* ============== contact ========================*/


.contact-button {
  position: absolute;
  font-size: 30px;
  background-color:#194c65;
  border: 0px;
  border-radius: 0px;
}

.contact-button.btn{
  left: 0;
  /*margin: 0 20% 0 20%;*/
  padding: 10px 100px;
  position: relative;
}

.contact-button .glyphicon {
  padding-right: 10px;
  font-size: 30px;
}

.contact-button:focus {
  background-color:#194c65;
}

.contact-button:hover {
  animation-name: homeCycle;
  animation-duration:1s;
  animation-direction:alternate;
  animation-iteration-count:infinite;

  -webkit-animation-name: homeCycle;
  -webkit-animation-duration:1s;
  -webkit-animation-direction:alternate;
  -webkit-animation-iteration-count:infinite;
}

  @keyframes homeCycle
  {
  0% { background-color:rgba(51, 102, 153, 0.7);}
  100% {background-color:#194c65;}
  }

  @-webkit-keyframes homeCycle
  {
  0% { background-color:rgba(51, 102, 153, 0.7);}
  100% {background-color:#194c65;}
}


.contact-title {
  padding: 120px;
  padding-bottom: 140px;
  color: #FFF;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background-color: hsl(2, 57%, 40%);
  background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
  repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
  repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);*/
}

.contact-title span {
  font-size: 70px;
  margin: 0px;
  opacity: 1;
}

.contact-title .size-large {
  font-size: 120px;
  font-weight: 400;
  opacity: 100%;
}

.contact-title hr {
  width: 400px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-shadow: 2px 2px 2px #000;
}

.contact-background{
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-position: center;
}

/* ===================== contact ===================== */

/* ====================== paty =========================*/

.party-page-container {
  padding-left: 70px;
  padding-top: 50px;
}

.party-title {
  text-align: center;
  padding: 20px;
  background-color: #57827F;
  color: #FFF;
}

.party-title p{
  font-family: 'Josefin Slab', serif;
  font-size: 16px;
  margin-bottom: 0px;
  padding-top: 10px;
}

.party-title span{
  font-size: 40px;
}

.party-info p{
  font-family: 'Josefin Slab', serif;
}

.bio-img {
  background-color: #CCC;
  width: 100%;
  height: 333px;
  vertical-align: middle;
}

.center-cropped {
  width: 100%;
  height: 333px;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

.party-image-div {
  margin-top: 30px;
}

.nav-pills li {
  border-radius: 0px;
}

.nav-pills li:hover {
  background-color: #d3d3d3;
}

.nav-pills li.active {
  background-color: #57827F;
  color: #fff;
  border-radius: 0px;
}

.party-tabs ul li{
  width: 45%;
  margin: 0px;
  text-align: center;
  border: solid 1px;
  border-color: #d3d3d3;
  font-size: 30px;
  border-radius: 0px;
  cursor: pointer;
  padding: 15px;
}

.party-tabs ul li.active {
  background-color: #57827F;
  border: 0px;
}

.party-tabs ul li:nth-of-type(1) {
  margin-right: 20px;
}

.party-tabs ul li:nth-of-type(2) {
  float: right;
}

.party-pills ul li:nth-of-type(1) {
  margin-left: 0px;
  border-top: solid 1px;
  border-color: #d3d3d3;
}

.party-pills ul li {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0px;
  border: solid 1px;
  border-top: 0px;
  border-color: #d3d3d3;
  height: 80px;
  padding-top: 25px;
  padding-left: 30px;
  font-size: 20px;
}

.party-pills ul li:hover {
  background-color: #57827F;
  color: #fff;
}



ul.nav.nav-pills {
  margin-bottom: 20px;
}
/*party*/


.nav-container {
  min-height: 50px;
}

.app-nav {
  .sidebar-nav {
    position: fixed;
    /*left: 15px;
    right: 15px;*/
    z-index: 10;
  }

  @media (min-width: 768px) {
    .sidebar-nav {
        position: fixed;
        left: initial;
        right: initial;
        /*padding-top: 10px;*/
        width: 75px;
        background-color: white;
        height: 100%;
    }
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
  }
    .navbar {
    /*margin-top: -30px;*/
    /*width: 70px;*/
    /*height: 100%;*/
    text-align: center;
    background-color: transparent;
    /*border-radius: 2px;*/
    border: 0px solid;
  }

  .navbar-default .navbar-nav > li:hover {
    background-color: transparent;
  }
  .navbar-default .navbar-nav > li:active {
    background-color: transparent;
  }
  .navbar-default .navbar-nav > li:focus {
    background-color: transparent;
  }
  .navbar-default .navbar-nav > li {
    background-color: transparent;
    /*margin-left: 10px;*/
    /*margin-top: 10px;*/
  }
  .navbar-default .navbar-nav > li:first-child {
    /*margin-top: 30px;*/
    margin-bottom: 20px;
  }

  .navbar-default .navbar-nav > li > a {
    color: #e0e0e0;
    background-color: transparent;
    /*border-radius: 50%;*/
    height: 70px;
    /*width: 70px;*/
    line-height: inherit;
  }
  .navbar-default .navbar-nav > li > a:hover {
    color: #7e7e7e;
    /*background-color: #d3d3d3;*/
    /*border-radius: 50%;*/
  }
  .navbar-default .navbar-nav > li > a:active {
    color: #7e7e7e;
    /*background-color: #d3d3d3;*/
    /*border-radius: 50%;*/
  }
  .navbar-default .navbar-nav > li > a:focus {
    color: #7e7e7e;
    /*background-color: #d3d3d3;*/
    /*border-radius: 50%;*/
  }
  .registry-lead {
    font-size: 40px;
    text-align: center;
  }
  .navbar-default .navbar-nav > li > a > i {
    font-size: 30px;
    line-height: inherit;
  }
  .navbar-default .navbar-nav > li > a:hover > i {
    /*margin-top: -7px;*/
  }

  .navbar-default .navbar-nav > li > a > p {
    visibility: hidden;
  }
  .navbar-default .navbar-nav > li > a:hover > p {
    visibility: visible;
    /*margin-top: -3px;*/
  }
}

@media (max-width: 767px) {
  .app-nav {
    display: none;
  }
}
@media (min-width: 767px) {
  .resp-nav {
    display: none;
  }
}

.resp-nav {
  padding-bottom: 30px;
  position: absolute;
  nav {
    z-index: 1;
  }

  .navbar-header {
    cursor: pointer;
    .button-section {
      margin-left: 15px;
    }
    .navbar-toggle {
      border: 0px;
    }
  }
  ul > li {
    height: 40px;
    text-align: center;
    &:hover {
      background-color: #ddd;
      a > p {
        margin-bottom: 0px;
      }
    }
  }
}
