
* {
  box-sizing: border-box;
  font-size: 16px;
}

[data-ember-action] {
  cursor: pointer;
}

li {
  cursor: pointer;
}

body {
  font-family: 'Amatic SC', cursive;
}

.image-cover {
  background: url('https://s3.amazonaws.com/wedding-site-images/seeley.jpg') no-repeat center center fixed;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    }


.index-title hr {
  width: 400px;
  margin-bottom: 0px;
  margin-top: 15px;
  border: 0;
  height: 2px;
  background: #000;
  box-shadow: 0px -2px 0px #fff;
 }
.index-title {
  /*margin-left: 60px;*/
  color: #FFF;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.index-title h1 {
  font-size: 80px;
  text-shadow: 2px 2px 2px #000;
  margin: 0px;
}
.index-title .size-large {
  font-size: 150px;
}

.cover-container {
  margin-right: 10px;
  margin-left: auto;
}
.inner {
  padding-top: 30px;
  text-align: right;
  color: #d3d3d3;
}
.inner a {
  color: #79886A;
}
.inner a:hover {
  text-decoration: none;
  color: #d3d3d3;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.btn-group-vertical {
  width: 100%;
}

.btn-group-vertical button {
  height: 75px;
}
.btn-group-vertical button:hover {
  background-color: #d3d3d3;
}


/*logistics*/

.logistics {
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 400px;
    background-image: url('https://s3.amazonaws.com/wedding-site-images/paxson-lodge.JPG');
    /*margin-bottom: 92px;*/
    vertical-align: bottom;
    padding: 70px;
  }

   .logistics span {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 10%;
    /*font-family: 'Josefin Slab', serif;*/
    /*margin: 10px;*/
    }
   .logistics-text .camp {
     font-size: 90px;
     font-weight: 500;
     text-shadow: 2px 2px 2px #000;

    }
    .logistics-text {
      /*margin-left: 90px;*/
      text-align: center;
      /*display: inline-block;*/
      vertical-align: bottom;
     }

  .log-background {
    background-color: #3d3d3d
  }

.logistics-sub-menu {
  background-color: #000;
  /*width: 100%;*/

}

.logistics-sub-menu > .container > .row ul {
  text-align: center;
  background-color: #000;
  margin-left: 30px;
  margin-bottom: 0px;
}
.logistics-sub-menu > .container > .row ul li {
  background-color: #000;
  font-size: 30px;
  text-align: center;
  padding: 30px 10px;
  border: 0px;
  border-radius: 0px;
  color: #fff;
  width: 350px;
  position: relative;
}


.logistics-sub-menu > .container > .row ul li.active:after {
  content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 10px solid transparent;
	border-top-color: #000;
  top: 100%;
  left: 50%;
  z-index: 1;

}

.logistics-sub-menu > .container > .row ul li.active:hover:after {
  content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 10px solid transparent;
	border-top-color: #333;
  top: 100%;
  left: 50%;
}


.logistics-sub-menu > .container > .row ul li:hover {
  border: 0px;
  border-radius: 0px;
  background: rgb(76,76,76);
  background: rgb(63,63,63);
  background: -moz-linear-gradient(top,  rgba(63,63,63,1) 0%, rgba(38,38,38,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,63,63,1)), color-stop(100%,rgba(38,38,38,1)));
  background: -webkit-linear-gradient(top,  rgba(63,63,63,1) 0%,rgba(38,38,38,1) 100%);
  background: -o-linear-gradient(top,  rgba(63,63,63,1) 0%,rgba(38,38,38,1) 100%);
  background: -ms-linear-gradient(top,  rgba(63,63,63,1) 0%,rgba(38,38,38,1) 100%);
  background: linear-gradient(to bottom,  rgba(63,63,63,1) 0%,rgba(38,38,38,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#262626',GradientType=0 );

}

.log-intro {
  margin: 5px;
  height: 100px;
  text-align: left;
  margin-left: 70px;
}
.log-intro p {
  font-family: 'Josefin Slab', serif;
}

.accomodations {
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  background-image: url('https://s3.amazonaws.com/wedding-site-images/paxson-lodge.JPG');
  vertical-align: bottom;
  padding: 70px;
}



/*logistics*/
/* about */

.about {
  height: 150px;
}
  .about-box {
    width: 100%;
    background-color: #7F6B98;
    position: absolute;
    padding: 10px;
    padding-top: 5px;
    margin-bottom: 20px;
   }

    .about-text {
      font-size: 30px;
      font-weight: 400;
      color: #FFF;
      margin-left: 80px;
      padding: 10px;
     }

     .about-text p {
       font-family: 'Josefin Slab', serif;
       font-size: 16px;
      }


      .about-text span{
       font-size: 40px;
      }
#ks {
  height: 350px;
  width: auto;
  border-right: 1px solid #CCC;
  margin-right: 30px;
  /*position: inherit;*/
}
.about-cover-text {
  margin: 30px;
}
.about-row {
  border: 1px solid #CCC;
  height: 100%;
  margin-left: 50px;
  margin-right: -20px;
  margin-top: 30px;
}
.about-row .col-xs-4 {
  padding: 0px;
}
.about-row .col-xs-8 {
  padding: 50px;
}

.about-cover-text {
  font-family: 'Josefin Slab', serif;
  font-size: 16px;
}

/*.col-lg-4.col-md-5.col-xs-4.hidden-sm.hidden-xs {
  top: -20px;
}*/

/* about */

/*registry*/


.registry {
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 400px;
    background-image: url('https://s3.amazonaws.com/wedding-site-images/morrocan-plates.jpg');
  }
  .registry-box {
    width: 100%;
    background-color: #79886A;
    position: absolute;
    padding: 10px;
    padding-top: 5px;
   }
   .registry-text p {
    margin-bottom: 0px;
    font-size: 20px;
    color: #fff;
    font-family: 'Josefin Slab', serif;
    }
   .registry-text .camp {
     font-size: 40px;
     font-weight: 400;
    }
    .registry-text {
      font-size: 40px;
      font-weight: 400;
      color: #FFF;
      margin-left: 90px;
      margin-top: 20px;
     }

  .registry:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom,transparent,#FFF);
  opacity: 1;
}

  .registry-box .registry-lead {
  font-size: 30px;
  font-weight: 400;
  color: #FFF;
  margin-top: 20px;
  }

/*registry*/

/*contact*/

.contact-title {
  /*margin-left: 60px;*/
  padding: 120px;
  padding-bottom: 140px;
  color: #FFF;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background-color: hsl(2, 57%, 40%);
  background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
  repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
  repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);*/
}
.contact-title span {
  font-size: 70px;
  margin: 0px;
  opacity: 1;
}

.contact-title .size-large {
  font-size: 120px;
  font-weight: 400;
  opacity: 100%;
}
.contact-title hr {
  width: 400px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-shadow: 2px 2px 2px #000;
 }

.contact-background{
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-position: center;
}
/*contact*/

/*paty*/
.party-page-container {
  padding-left: 70px;
  padding-top: 50px;
}

.party-title {
  text-align: center;
  padding: 20px;
  background-color: #57827F;
  color: #FFF;
}

.party-title p{
  font-family: 'Josefin Slab', serif;
  font-size: 16px;
  margin-bottom: 0px;
  padding-top: 10px;
}
.party-title span{
  font-size: 40px;
}
.party-info p{
  font-family: 'Josefin Slab', serif;
}
.bio-img {
  background-color: #CCC;
  width: 100%;
  height: 333px;
  vertical-align: middle;
}
.center-cropped {
  width: 100%;
  height: 333px;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: contain;
}
.party-image-div {
  margin-top: 30px;
}

.nav-pills li {
  background-color: #FFF;
  border-radius: 3px;
}

.nav-pills li:hover {
  background-color: #d3d3d3;
}

.party-tabs ul li{
  width: 45%;
  margin: 0px;
  text-align: center;
  border: solid 1px;
  border-color: #d3d3d3;
  font-size: 30px;
  border-radius: 0px;
  cursor: pointer;
  padding: 15px;
}
.party-tabs ul li:nth-of-type(1) {
  margin-right: 20px;
}
.party-tabs ul li:nth-of-type(2) {
  float: right;
}


.party-pills ul li:nth-of-type(1) {
  margin-left: 0px;
  /*margin-top: 20px;*/
  border-top: solid 1px;
  border-color: #d3d3d3;
}

.party-pills ul li {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0px;
  border: solid 1px;
  border-top: 0px;
  border-color: #d3d3d3;
  height: 80px;
  padding-top: 25px;
  padding-left: 30px;
  font-size: 20px;

}
ul.nav.nav-pills {
  margin-bottom: 20px;
}
/*party*/
/*+++======+++*/

.nav-container {
    min-height: 50px;
}
.sidebar-nav {
    position: fixed;
    left: 15px;
    right: 15px;
    z-index: 10;
}

@media (min-width: 768px) {
    .sidebar-nav {
        position: fixed;
        left: initial;
        right: initial;
        margin-top: 40px;
        width: 220px;
    }
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media (min-width: 992px) {
    .sidebar-nav {
        width: 80px;
    }
}

@media (min-width: 1200px) {
    .sidebar-nav {
        width: 80px;
    }
}
.navbar {
  margin-top: -30px;
  width: 70px;
  height: 100%;
  text-align: center;
  background-color: transparent;
  border-radius: 2px;
  border: 0px solid;
}

.navbar li {
  /*margin: 20px 0;
  margin-left: 10px;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  margin-top: 7px;
  text-align: center;*/
}
.navbar-default .navbar-nav > li:hover {
  background-color: transparent;
}
.navbar-default .navbar-nav > li:active {
  background-color: transparent;
}
.navbar-default .navbar-nav > li:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > li {
  background-color: transparent;
  margin-left: 10px;
  margin-top: 15px;
}
.navbar-default .navbar-nav > li:first-child {
  margin-top: 30px;
  margin-bottom: 40px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  background-color: #194c65;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  line-height: inherit;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #FFF;
  background-color: #cb6432;
  border-radius: 50%;
}
.navbar-default .navbar-nav > li > a:active {
  color: #194c65;
  background-color: #cb6432;
  border-radius: 50%;
}
.navbar-default .navbar-nav > li > a:focus {
  color: #FFF;
  background-color: #cb6432;
  border-radius: 50%;
}
.registry-lead {
  font-size: 40px;
  text-align: center;
}
.navbar-default .navbar-nav > li > a > i {
font-size: 30px;
/*vertical-align: middle;*/
line-height: inherit;
}
