body {
font-family: 'Oswald', sans-serif;
}


.starter-template {
  padding: 40px 15px;
  /*position: absolute;*/
  text-align: center;
}

.image-cover .starter-template {
  padding-top: 50px;
  position: absolute;
  color: #FFF;
  text-align: left;

}

.image-cover .starter-template h1 {
  font-size: 50px;
  text-shadow: 2px 2px 2px #000;
  /*font-weight: 700;*/
}

.image-cover .starter-template .size-large {
  font-size: 90px;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.cover-container {
  margin-right: 10px;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding-top: 30px;
  text-align: right;
  color: #d3d3d3;
}
.inner a {
  color: #FFFFFF;
}

.inner a:hover {
  text-decoration: none;
  color: #d3d3d3;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF;
  margin-right: 30px;
  /*font-weight: 600;*/
  letter-spacing: 2px;
}

.navbar-inverse .navbar-brand:hover {
  color: #d3d3d3;
}

.navbar-inverse {
  border-width: 0px;
  background-color: rgba(0,0,0,0.6);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 50.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 50% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 50%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 500%);
  margin-bottom: 35px;
  border: none;
  padding: 10px;
}
