<div class="pill-content">
  <div role="pillpanel" class="pill-pane active" id="groom">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a >Joanna</a></li>
      <li role="presentation"><a >Bonna</a></li>
    </ul>
  </div>
</div>



{{outlet}}
