  <div class="accomodations-box">
    <div class="accomodations-text">
      <p>We are very excited about spending more than the normal
        4-hour reception time with our guests by inviting everyone to stay
        with us at the Camp! We have rented The Camp for July 3rd and 4th,
        so we invite you to come up a day early and enjoy all the offerings
        Western Montana has to offer!
        <br>
        <br>
        There are 15 bunkhouses that each sleep 8 people on site.
        They are rustic, but charming and comfortable.
        A women’s and men’s bathhouse are located close to the bunkhouses.
        </p>
    </div>
  </div>
<div class="accomodations-info">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h3>{{material-design-icon name='local-florist'}}Camp Paxson</h3>

      <p>Our wedding ceremony and reception will both be held at Camp Paxson in Seeley Lake, MT.
      Seeley Lake is located 55 miles northeast of Missoula, MT
      alleviates any worries about driving after the reception, and will give you more
      time to spend with us and your friends and family. If you choose to stay with us on the 3rd, you can
      check-in anytime after 3pm.  If you only want to stay with us on the 4th, feel free
      to arrive and check-in anytime after 9am.  We will provide meals at the camp for those
      staying with us and we will have a send-off brunch on Tuesday morning before check-out time at the Camp at noon.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h3>{{material-design-icon name='card-travel'}}What to pack if you're staying at Camp Paxson:</h3>

      <ul>
        <li>Bedding – a sleeping bag and pillow or twin sheets, etc.</li>
        <li>Towels</li>
        <li>Headlamp/flashlight</li>
        <li>Camp chair, if you’d like</li>
        <li>Shower shoes</li>
      </ul>
      <p>* If you are flying in and can’t bring your own bedding/towels we can provide them for you, just let us know in advance!</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="acc-lead">
      <h3 style="text-align:center;">If staying at a rustic camp in the woods isn’t for you (but it will be fun, we promise!), <br>we can recommend the following local accommodations.</h3>
      </div>
    <!-- </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8"> -->
      <div class="acc-links">
        <ul>
          <li><a href="http://thelodgesonseeleylake.com/">The Lodges on Seeley Lake</a>, 1/2 mile down the road from the Camp</li>
          <li><a href="http://thelodgesonseeleylake.com/">Eagle Port Lodge</a>, 5 miles up the road</li>
          <li><a href="http://doublearrowresort.com/">Double Arrow Resort</a>, 5 miles down the road</li>
          <li><a href="http://standingstonebandb.com/">Standing Stones Bed Inn Breakfast</a>, a scenic 26-miles North of Seeley Lake</li>
          <li><a href="http://tamaracksresort.com/">Tamaracks Resort</a>, private cabins and RV sites on the lake</li>
          <li><a href="http://montanapinesmotel.com/">Montana Pines Motel</a>, located in Seeley Lake</li>
          <li><a href="http://seeleylakemotorlodge.com/">Seeley Lake Motor Lodge</a>, located in Seeley Lake</li>
          <li><a href="http://www.vrbo.com/vacation-rentals/usa/montana/glacier-country/seeley-lake">Vacation rentals in the Seeley Lake area</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<div class="accomodations">
</div>



{{outlet}}
