<div class="activities">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="activities-block accomodations-info">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h3>{{material-design-icon name='directions-bike'}}Things to do in the Seeley Lake area</h3>
            <p>The Seeley/Swan region offers many different recreation opportunities!
              Camp Paxs0n itself has canoes to use and a swimming area.
              Outside of the Camp, you can enjoy activities, such as:</p>
              <ul>
                <li>Golf at the Double Arrow Resort</li>
                <li>Fishing or rafting with an outfitter</li>
                <li>Horseback riding</li>
                <li>Hike in the Lolo National Forest – Seeley Lake Ranger District,
                  the Flathead National Forest – Swan Lake Ranger District,
                  or hike up to  Glacier Lake in the Mission Mountain Wilderness</li>
                <li>Drive up to Glacier National Park, only about 2 hours north</li>
              </ul>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <img src="https://s3.amazonaws.com/wedding-site-images/paxson-canoes.JPG" alt="canoe" width="100%" />

        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
