
  <div class="log-intro">
    <div class="log-sub-intro hidden-phone hidden-sm hidden-xs"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-6 col-lg-offset-6" >
          <div class="log-intro-text">
            <h2>Seeley Lake, Montana</h2>
            <p> Our wedding ceremony and reception will both be held at Camp Paxson in Seeley Lake, MT.
            Seeley Lake is located 55 miles northeast of Missoula, MT.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{{outlet}}
