
  <div class="log-intro">
    <div class="log-sub-intro"></div>
          <div class="log-intro-text">
            <h2>{{material-design-icon name='explore'}}Seeley Lake, Montana</h2>
            <p> Our wedding ceremony and reception will both be held at Camp Paxson in Seeley Lake, MT.
            Seeley Lake is located 55 miles northeast of Missoula, MT.</p>
          </div>
  </div>

  <div class="logistics" >
      <div class="logistics-text">
        <span class="camp">- Logistics -</span>
      </div>
  </div>

{{outlet}}
