<div class="log-intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12" >
        <h2>Seeley Lake, Montana</h2>
        <p> Our wedding ceremony and reception will both be held at Camp Paxson in Seeley Lake, MT.
          Seeley Lake is located 55 miles northeast of Missoula, MT.</p>
      </div>
    </div>
  </div>
</div>



{{outlet}}
