<div class="travel">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="travel-block">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h3>Getting to Missoula</h3>
            <p>If you are flying, you want to fly into Missoula International Airport,
              airport code MSO. There are six rental car companies that operate
              out of the airport. There are many hotels, restaurants, and, our favorite,
              local breweries in Missoula. For visitor information, please click here. </p>
          <h3>Getting to Seeley Lake</h3>
            <p>From Missoula, drive east six miles on I-90 and take the Bonner
              exit to MT Highway 200. Drive east 35 miles on Hwy 200 to Clearwater
              Junction. Turn left onto MT Highway 83 and drive north 17 miles to Seeley Lake, MT.
              Seeley Lake is a small community located in a valley between the Bob Marshall
              and Mission Mountain Wildernesses. There are several hotels, resorts and
              campgrounds, as well as numerous vacation rentals available in the area, though we
              sincerely hope you choose to stay with us in the bunkhouses at Camp Paxson.
              For more information on Seeley Lake, please click here.</p>
          <h3>Getting to Camp Paxson</h3>
            <p>Camp Paxson is located at 4200 Boy Scout Rd, Seeley Lake, Mt 59868.
              As you enter the town of Seeley Lake, watch for Boy Scout Road on your
              left (west side of highway) – just past the mill. Turn left on Boy Scout
              Road and travel 2 1/4 miles to the Camp Paxson turn-off, which is immediately
              after the bridge across the Clearwater River on your right. We’ll have a sign
              of some sort at the Boy Scout Road turnoff to help guide you in.</p>
          <h3>Parking at Camp Paxson</h3>
            <p>We know parking is going to be an issue at Camp Paxson! Please
              carpool if you can. If you drive to Camp Paxson, parking will be
              limited on site, though you can park along Boy Scout Road and walk in
              (less than 1/4 mile). You can also park along the Camp Paxson access road
              as long as access is not blocked. We’ll have someone out to help vehicles
              park the day of the wedding.</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <img src="https://s3.amazonaws.com/wedding-site-images/paxson-canoes.JPG" alt="canoe" width="100%" />
        </div>

      </div>
    </div>
  </div>
</div>
{{outlet}}
