<div class="container about-title">
    <div class="row" >
      <div class="about-description">
        <span>WELCOME TO OUR WEDDING SITE</span>
        <p>Thanks for visiting our wedding page! With the help of our crack team of developers we have compiled all the info you will need to join us in Montana.<br> If you need any other information please use our contact page! All you get is this text and a mostly barebones HTML document.</p>
      </div>
    </div>
  </div>

<div class="container ">
  <div class="row about-row">
    <div class="col-lg-4 col-md-5 col-xs-4 hidden-sm hidden-xs" >
      <div class="about-cover-image">
        <img src="https://s3.amazonaws.com/wedding-site-images/sandk.jpg" id="ks" alt="kyrstin and steve">
      </div>
    </div>
    <div class="col-lg-8 col-md-7 col-sm-12" >
      <div class="about-cover-text">
        <p>
          When your application starts, the router is responsible for displaying templates, loading data, and otherwise setting up application state. It does so by matching the current URL to the routes that you've defined.
          When your application starts, the router is responsible for displaying templates, loading data, and otherwise setting up application state. It does so by matching the current URL to the routes that you've defined.
          When your application starts, the router is responsible for displaying templates, loading data, and otherwise setting up application state. It does so by matching the current URL to the routes that you've defined.
        </p>
      </div>
    </div>
  </div>
</div>
