<div class="hidden-xs">

  <div class="about" >
    <div class="about-box">
      <div class="about-text">
        <h2>- WELCOME TO OUR WEDDING SITE -</h2>
        <p>Thanks for visiting our wedding page! With the help of our crack team
          of developers we have compiled all the info you will need to join us in Montana.
          Please be sure to check out the logistics page for all the information you need about
          getting  to Seeley Lake and staying with us at the Camp.</p>
      </div>
    </div>
  </div>
</div>

  <div class="visible-xs-* hidden-sm hidden-md hidden-lg hidden-xl">

    <div class="about-small" >
      <div class="about-small-box">
        <div class="about-text">
          <h2>- WELCOME TO OUR WEDDING SITE -</h2>
          <p>Thanks for visiting our wedding page! With the help of our crack team
            of developers we have compiled all the info you will need to join us in Montana.
            Please be sure to check out the logistics page for all the information you need about
            getting  to Seeley Lake and staying with us at the Camp.</p>
        </div>
      </div>
      <img class="bio-img" src="https://s3.amazonaws.com/wedding-site-images/engaged.jpg" alt="about image" >
    </div>

    <!-- {{#bs-button type="primary" class="about-button" icon="glyphicon glyphicon-tree-deciduous"}}
       Find out more about us...
    {{/bs-button}} -->

    </div>
