
  <div class="about" >
    <div class="about-box">
      <div class="about-text">
        <h1>- WELCOME TO OUR WEDDING SITE -</h1>
        <p>Thanks for visiting our wedding page! With the help of our crack team of developers we have compiled all the info you will need to join us in Montana.<br> If you need any other information please use our contact page! All you get is this text and a mostly barebones HTML document.</p>
      </div>
    </div>

  {{#bs-button type="primary" class="about-button" icon="glyphicon glyphicon-tree-deciduous"}}
     Find out more about us...
  {{/bs-button}}
  </div>
