<div class="hidden-xs">

  <div class="about" >
    <div class="about-box">
      <div class="about-text">
        <h1>- WELCOME TO OUR WEDDING SITE -</h1>
        <p>Thanks for visiting our wedding page! With the help of our crack team
          of developers we have compiled all the info you will need to join us in Montana.<br>
          This site is still under construction and we will be adding details over
          the next few months. Please check back for more information!</p>
      </div>
    </div>
  </div>
</div>

  <div class="visible-xs-* hidden-md hidden-lg hidden-xl">

    <div class="about-small" >
      <div class="about-small-box">
        <div class="about-text">
          <h1>- WELCOME TO OUR WEDDING SITE -</h1>
          <p>Thanks for visiting our wedding page! With the help of our crack team
            of developers we have compiled all the info you will need to join us in Montana.<br>
            This site is still under construction and we will be adding details over
            the next few months. Please check back for more information!</p>
        </div>
      </div>
    </div>

    <!-- {{#bs-button type="primary" class="about-button" icon="glyphicon glyphicon-tree-deciduous"}}
       Find out more about us...
    {{/bs-button}} -->
    </div>
