

<div class="container">

  <div class="starter-template">
    <h1>WELCOME TO OUR WEDDING SITE</h1>
    <em>Thanks for visiting our wedding page! With the help of our crack team of developers we have compiled all the info you will need to join us in Montana.<br> If you need any other information please use our contact page! All you get is this text and a mostly barebones HTML document.</em>
  </div>

</div><!-- /.container -->
