<div class="contact-background">
<div class="contact-title">
  <a href="http://steveandkyrstin.rsvpify.com">{{#bs-button type="primary" class="contact-button"}}
   CLICK HERE TO RSVP!!
  {{/bs-button}}</a>
  <div class="contact-info" style="padding:10px 25px;">
    <h2 style="padding:0px 25px;">Questions???</h2>
      <h3>You can contact us directly!</h3>
      <span>steveandkyrstin@gmail.com</span>
  </div>
</div>
</div>
