<div class="contact-background">
<div class="contact-title">
  <a href="http://steveandkyrstin.rsvpify.com">{{#bs-button type="primary" class="contact-button"}}
   CLICK HERE TO REGISTER!!
  {{/bs-button}}</a>
  <div class="contact-info">
    <span>Questions???  You can contact us directly!</span><br>
      <span>781.248.8047</span><br>
      <span>steveandkyrstin@gmail.com</span>
  </div>
</div>
</div>
