
<div class="container image-cover">
<img src="https://s3.amazonaws.com/wedding-site-images/montana.jpg" id="bg" alt="montana">
<div class="starter-template">
  <h1>JOIN US IN</h1>
  <h1 class="size-large">MONTANA</h1>
</div>
</div>
