
<div class="image-cover">
<img src="https://s3.amazonaws.com/wedding-site-images/montana.jpg" id="bg" alt="montana">
</div>
<div class="index-title">
  <h1>JOIN US IN</h1>
  <hr>
  <h1 class="size-large">MONTANA</h1>
</div>
