
<div class="image-cover">
  <img src="https://s3.amazonaws.com/wedding-site-images/seeley.jpg" alt="seeley lake montana" />
</div>
<div class="index-title">
  <h1 class="date">4 July 2016</h1>
  <h1 class="size-large">Montana</h1>
</div>
