
<div class="logistics-title">
  <div class="logistics-box">
    <div class="container ">
      <div class="row">
        <div class="col-xs-12" >
            <span class="camp">CAMP PAXSON</span>
            <p>Seeley Lake, Montana</p>
        </div>
      </div>
    </div>
  </div>
</div>
