
  <div class="logistics" >
    <div class="logistics-box">
      <div class="logistics-text">
        <span class="camp">CAMP PAXSON</span>
        <p>Seeley Lake, Montana</p>
      </div>
    </div>
  </div>

  <div class="logistics-intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 logistics-col-centered" >
          <p>
            When your application starts, the router is responsible for displaying templates, loading data, and otherwise setting up application state. It does so by matching the current URL to the routes that you've defined.
            When your application starts, the router is responsible for displaying templates, loading data, and otherwise setting up application state. It does so by matching the current URL to the routes that you've defined.
            When your application starts, the router is responsible for displaying templates, loading data, and otherwise setting up application state. It does so by matching the current URL to the routes that you've defined.
          </p>
      </div>
    </div>
  </div>
  </div>
