
  <div class="logistics" >
    <div class="logistics-box">
      <div class="logistics-text">
        <span class="camp">CAMP PAXSON</span>
        <p>Seeley Lake, Montana</p>
      </div>
    </div>
  </div>
