

<div class="container">

  <div class="starter-template">
    <h1>MEET OUR SQUAD</h1>
    <p class="lead">Some cool people we know that you can stalk via the internet before you meet them in person.</p>
  </div>

</div><!-- /.container -->
