

<div class="registry">
  <div class="registry-box">
    <div class="registry-text">
      <span class="registry-lead">Registry Info - "COMING SOON"</span>
    </div>
  </div>
</div>
<a href="https://www.blueprintregistry.com/registry/KyrstinandSteve07.04.16">{{#bs-button type="primary" class="registry-button"}}
 Blueprint Registry
{{/bs-button}}</a>
