

<div class="registry">
  <div class="registry-box">
    <div class="registry-text">
      <span class="registry-lead">Registry Info</span>
    </div>
  </div>
</div>
<div class="registry-title">
  <h1 class="size-large" style="color:#194c65;">Buy Cool Stuff!!</h1>
  <p>
    Since this will be a destination wedding for us we are politely asking to ship any gifts to our home in Massachusetts. Our registry (button below) has our shipping information. If you need any help please let us know and we thank you so much!!
  </p>
  <a href="https://www.blueprintregistry.com/registry/KyrstinandSteve07.04.16">{{#bs-button type="primary" class="contact-button"}}
   Blueprint Registry
  {{/bs-button}}</a>
</div>
<!-- <a href="https://www.blueprintregistry.com/registry/KyrstinandSteve07.04.16">{{#bs-button type="primary" class="registry-button"}}
 Blueprint Registry
{{/bs-button}}</a> -->
