

<div class="registry">
  <div class="registry-box">
    <div class="registry-text">
      <span class="registry-lead">Registry Info</span>
    </div>
  </div>
</div>
<div class="contact-title">
  <h1 class="size-large" style="color:#194c65;">Buy Cool Stuff!!</h1>
  <a href="https://www.blueprintregistry.com/registry/KyrstinandSteve07.04.16">{{#bs-button type="primary" class="contact-button"}}
   Blueprint Registry
  {{/bs-button}}</a>
</div>
<!-- <a href="https://www.blueprintregistry.com/registry/KyrstinandSteve07.04.16">{{#bs-button type="primary" class="registry-button"}}
 Blueprint Registry
{{/bs-button}}</a> -->
